body {
  margin:0;
  padding:0;
}

nav {
  background-color:teal;
  height:50px;
  display: flex;
  justify-content:space-between;
}

nav a{
  color: pink;
  text-decoration:none;
  margin:auto;
}

nav a:link{
  color:beige;
}
nav a: visited {
  color:yellow;
}
nav a:hover{
  color:pink;
}


.galeria{
  width: 200px;
}